<!DOCTYPE html>

<html lang="en">

<head>
</head>

<body>
    <form name="f1" id="form1" method="post" action="http://localhost:3000/api/paytm/request">
        <input type="text" id="ORDER_ID" name="ORDER_ID" value="ramram214214214"/>
        <input type="text" id="INDUSTRY_TYPE_ID" name="INDUSTRY_TYPE_ID" value="Retail"/>
        <input type="text" id="CUST_ID" name="CUST_ID" value="saty214"/>
        <input type="text" id="CHANNEL_ID" name="CHANNEL_ID" value="WAP"/>
        <input type="text" id="TXN_AMOUNT" name="TXN_AMOUNT" value="214"/>
        <input type="text" id="WEBSITE" name="WEBSITE" value="WEBSTAGING"/>
        <input type="text" id="MID" name="MID" value="bSeYbl25011891767662"/>
        <input type="text" id="PAYTM_MERCHANT_KEY" name="PAYTM_MERCHANT_KEY" value="yxH2a8YKaay9daXN"/>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
