<!DOCTYPE html>

<html lang="en">

<head>
</head>
 <!-- //"https://pguat.paytm.com/oltp-web/processTransaction" -->
<body>                                                  
    <form name="f1" id="myForm" method="post" action="https://securegw-stage.paytm.in/order/process">
       <% for(name in result){
           %>
        <input type="hidden"  name='<%=name%>' value='<%=result[name]%>'/>
       <% } %>
        <button type="submit">Submit</button>
    </form>
    <script>
      document.f1.submit();
    </script>
</body>

</html>
