
<!DOCTYPE html>

<html lang="en">

<head>
     <% if(status){ %>
          <title>true</title>
       <%}else{%>
          <title>false</title>
          <%}%>
</head>
 
<body>                                                  
          <% if(status){ %>
               <div>Your transaction was successfull !</div>
            <%}else{%>
               <div>Oops! Something went wrong</div>
               <%}%>
</body>

</html>